<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>For Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>936B4EE41C08B04900DDECA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936B4EFB1C08B04900DDECA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936B4F061C08B04900DDECA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
